body {
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0)), url("images/bg01.png");
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0)), url("images/bg01.png");
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0)), url("images/bg01.png");
  background-image: linear-gradient(top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0)), url("images/bg01.png");
  background-position: top left, top left;
  /* background-repeat: repeat-x, repeat; */
  background-size: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #696969;
  font-family: 'Nanum Gothic', sans-serif;
}

/* Logo */

  a {
    text-decoration: none;
    color: white;
  }

  a:visited {
    text-decoration: none;
    color: white;
  }

  a:hover {
    text-decoration: none;
    color: white;
  }

  a:active {
    text-decoration: none;
    color: white;
  }

	#logo {
    left: 50px;
    top: 30px;
		display: inline-block;
    margin: 5%;
	}

		#logo h2 {
			/* background: #ff4486;
			color: #fff;
			border-radius: 6px; */
      font-family: 'Beth Ellen', cursive;
      color: white;
			font-weight: 400;
			padding: 0.25em 0.2em 0.25em 0.2em;
			font-size: 3.25em;
			letter-spacing: 0.05em;
			display: inline-block;
			vertical-align: middle;
      text-shadow: 2px 2px 4px rgba(228, 213, 211, 0.5);
		}

		#logo span {
			font-weight: 800;
			line-height: 4.5em;
			letter-spacing: 0.025em;
			font-size: 0.9em;
			vertical-align: middle;
			margin: 0 0 0 1.25em;
		}
    #logo h2 {
      font-size: 2.75em;
      padding: 0.2em 0.275em;
    }
    /* #logo h2 {
      background: #ff4486;
      color: #fff;
      border-radius: 6px;
      font-family: 'Beth Ellen', cursive;
      font-weight: 400;
      padding: 0.25em 0.2em 0.25em 0.2em;
      font-size: 2em;
      letter-spacing: 0.05em;
      display: inline-block;
      vertical-align: middle;
    } */

body {
  background-image: url("assets/css/images/krista-mangulsone-9gz3wfHr65U-unsplash.jpg");
  text-shadow: 1px 1px 1px #CDCDCD;
}

header{
  text-align: center;
  font-size: 10%;
  animation: fadein 2s;
}
ul {
  list-style: none;
}

footer{
  margin: 10%;
  opacity: 0;
}

.form {
  width: 60%;
  text-align: center;
  animation: fadein 2s;
  margin: auto;
  padding: 80px 0px;
  background-color: #FFFFFF;
}

.q-block {
  margin: 2em 0px;
}

@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}

.form-group {
  animation: fadein 1s;
  display: inline-block;
}

.questions {
  font-size: 25px;
  display: block;
  margin: 10px;
}
.terms{
  font-size: 25px;
  display: block;
  margin: 30px;
}

.subtext {
  font-size: 15px;
  display: block;
  margin: 10px 0px;
}

.custom-checkbox {
  display: inline-block;
  margin: 0px 50px;
  align-items: center;
}
.row > .custom-checkbox {
  margin: 10px 5px;
}

.family {
  margin: 10px 10px;
}

.family > * {
  display: inline;
}

.row {
  width: 80%;
  margin: auto;
  /* transform: scale(1.1); */
}


input {
  margin: 20px;
}

#그외 {
  display: inline;
  margin-left: -40px;
  margin-right: 40px;
}

#location{
  width: 200px;
  background-color: white;
  border: 1px solid purple;
  border-radius: 20px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;


  background-image:
  linear-gradient(45deg, transparent 50%, gray 50%),
  linear-gradient(135deg, gray 50%, transparent 50%),
  radial-gradient(#ddd 70%, transparent 72%);
  background-position:
  calc(100% - 20px) calc(1em + 2px),
  calc(100% - 15px) calc(1em + 2px),
  calc(100% - .5em) .5em;
  background-size:
  5px 5px,
  5px 5px,
  1.5em 1.5em;
  background-repeat: no-repeat;
}

#time{
  width: 200px;
  background-color: white;
  border: 1px solid purple;
  border-radius: 20px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

margin: 0;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-appearance: none;
-moz-appearance: none;


background-image:
linear-gradient(45deg, transparent 50%, gray 50%),
linear-gradient(135deg, gray 50%, transparent 50%),
radial-gradient(#ddd 70%, transparent 72%);
background-position:
calc(100% - 20px) calc(1em + 2px),
calc(100% - 15px) calc(1em + 2px),
calc(100% - .5em) .5em;
background-size:
5px 5px,
5px 5px,
1.5em 1.5em;
background-repeat: no-repeat;
}
button{
      background-color: white;
      border: 1px solid purple;
      border-radius: 20px;
      display: inline-block;
      font: inherit;
      line-height: 1.5em;
      padding: 0.5em 2em;
      /* padding: 상,우,하,좌 ;*/

  margin: 4em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}
