body{
  margin: 0px;
}
.header{
  font-size: 30px;
  font-family: "나눔고딕", bold;
  display: flex;
  justify-content: space-between;
}


.ip{
  margin-top: 8px;
  margin-right: 10px;
  display: flex;
  align-self: center;
  height: 40px;
}

.main{
  display: flex;
}
.main .left_menu {
  flex-grow: 0;
  margin-right: 2px;
  border-right: 1px solid gray;
}
.main .main_{
  margin-left: 10px;
  border: 1px solid white;
}
